@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

* {
  list-style: none;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(250, 0, 255);
  background: radial-gradient(
    circle,
    rgba(250, 0, 255, 1) 0%,
    rgba(66, 43, 64, 1) 100%
  );
}

.menu {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;

  position: absolute;
  height: 90px;
  left: 0px;
  right: 0px;
  top: 0px;
  font-size: 20px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 20px;
}

.menu li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  padding: 40px;
  display: block;
}

.menu li {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  text-align: center;
}

.menu li a:hover {
  background: rgb(174, 35, 177);
}

.logo img {
  max-width: 125px;
  max-height: 125px;
  margin-left: 30px;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 40px auto;

  color: #ffffff;
  border-color: rgb(255, 255, 255);
}

th {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

td,
th {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}
.check {
  background-color: black;
}

@media screen and (max-width: 760px) {
  table {
    width: 100%;
    display: list-item;
    margin-top: 100px;
  }
  .logo img {
    max-width: 55px;
    max-height: 55px;
    left: 15px;
    margin-top: 35px;
  }
  .menu li a:hover {
    background-color: none;
  }
  tr {
    border: 1px solid rgb(255, 255, 255);
  }

  td {
    /* Behave  like a "row" */
    border: #ccc;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  .menu {
    width: 100%;
  }
}
